body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #18528C;
}

main {
    max-width: 960px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bienvenido img {
    max-width: 100%;
    height: 550px;
    /* margin-top: 20px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.description p {
    font-size: 18px;
    color: #555;
}

.features ul {
    list-style-type: none;
    padding-left: 0;
}

.features ul li {
    margin-bottom: 10px;
}

.features ul li::before {
    content: "✓ ";
    color: #18528C;
    font-size: 20px;
}

.testimonials blockquote {
    font-style: italic;
    color: #555;
}

.download {
    text-align: center;
}

.btn-ios,
.btn-android {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    background-color: #18528C;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-ios:hover,
.btn-android:hover {
    background-color: #005f7f;
}

footer {
    text-align: center;
    background-color: #18528C;
    padding: 20px 0;
    margin-top: 20px;
}

footer nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

footer nav a:hover {
    color: #f5f5f5;
}

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    display: none;
}

.carousel img:first-child {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}



.reservar-cancha {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    gap: 20px;
}

.formulario {
    flex: 1;
    margin-right: 20px;
   
}

.formulario h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mapa {
    flex: 1;
}

.mapa h2 {
    margin-bottom: 20px;
}

.mapa iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.login-container,
.gestion-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2,
.gestion-container h2 {
    text-align: center;
}

.form-group2 {
    margin-bottom: 20px;
}

.form-group2 label {
    display: block;
    margin-bottom: 5px;

}

.form-group2 input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group2 button {
    width: 100%;
    padding: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.hamburger-menu {
    display: none; /* Oculta el menú de hamburguesa por defecto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.hamburger-menu-line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #008CBA;
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Muestra el menú de hamburguesa en dispositivos móviles */
    }

    .nav-menu {
        display: none; /* Oculta el menú de navegación en dispositivos móviles */
    }

    .nav-menu.active {
        display: block; /* Muestra el menú de navegación cuando se activa el menú de hamburguesa */
    }

    nav ul {
        flex-direction: column; /* Cambia la dirección del menú a columna en dispositivos móviles */
        padding: 20px 0;
    }

    nav ul li {
        margin: 10px 0; /* Añade un espacio entre los elementos del menú */
    }

    .carousel {
        max-height: 400px;
    }

    .reservar-cancha{
        display: grid;
        grid-column: 1;
    }
}
